VITE_APP_NAME=Zazitech
VITE_EMAIL_API_URL=https://your-backend-url
VITE_EMAIL_API_KEY=your_api_key_here
VITE_PUBLIC_URL=https://demo.zazitech.co.za
VITE_EMAIL_RECIPIENT=info@example.com
VITE_EMAIL_SUBJECT_PREFIX="Contact Form - Your Company"
VITE_GOOGLE_MAPS_KEY=your-google-maps-api-key
